@model IEnumerable<KoiFarmShop.Data.Models.Voucher>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get" asp-action="Index" class="d-flex mb-4 align-items-end" style="gap: 10px;">
    <div class="flex-fill">
        <input type="text" class="form-control" id="VoucherId" name="VoucherId" placeholder="Enter VoucherId" value="@ViewBag.VoucherId" />
    </div>
    <div class="flex-fill">
        <input type="number" class="form-control" id="DiscountAmount" name="DiscountAmount" placeholder="Enter  DiscountAmount" value="@ViewBag.DiscountAmount" />
    </div>
    <div class="flex-fill">
        <input type="text" class="form-control" id="Status" name="Status" placeholder="Enter Status" value="@ViewBag.Status" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VoucherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoucherCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoucherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            <th>
                @Html.DisplayNameFor(model => model.DiscountAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyMethod)
            <th>
                @Html.DisplayNameFor(model => model.MinOrderAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidityStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidityEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VoucherId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoucherCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoucherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountAmount)
                </td>
                <td>
                    @(item.ApplyMethod == 1 ? "online" : item.ApplyMethod == 0 ? "offline" : "both")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinOrderAmount)
                </td>
                <td>
                    @(item.Status == 1 ? "Active" : "Inactive")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidityStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidityEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                

                <td>
                    <a asp-action="Edit" asp-route-id="@item.VoucherId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VoucherId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VoucherId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage - 1)"
                   asp-route-VoucherId="@ViewBag.VoucherId"
                   asp-route-DiscountAmount="@ViewBag.DiscountAmount"
                   asp-route-Status="@ViewBag.Status">Previous</a>
            </li>
        }
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i"
                   asp-route-VoucherId="@ViewBag.VoucherId"
                   asp-route-DiscountAmount="@ViewBag.DiscountAmount"
                   asp-route-Status="@ViewBag.Status">@i</a>
            </li>
        }
        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage + 1)"
                   asp-route-VoucherId="@ViewBag.VoucherId"
                   asp-route-DiscountAmount="@ViewBag.DiscountAmount"
                   asp-route-Status="@ViewBag.Status">Next</a>
            </li>
        }
    </ul>
</nav>