@model IEnumerable<KoiFarmShop.Data.Models.Voucher>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VoucherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoucherCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinOrderAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidityStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidityEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VoucherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoucherCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinOrderAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidityStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidityEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VoucherId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VoucherId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VoucherId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
